<div class="group-header">
  {{activeGroup.name}}
</div>

<button class="btn btn-primary btn-top-left" ng-click="openCreateEventModal()">Create event</button>

<div class="carousel-wrapper">
  <slick settings="slickConfig" control="slickHandle" media="media" src="eventBoxTemplate.html">
  </slick>
</div>

<script type="text/ng-template" id="eventBoxTemplate.html">
  <div ng-repeat="card in media" class="slide" on-finish-render="init()">
    <div class= "event box">
        <div class="event-inner box space">
            <div class ="event-name ">
                <p class= "title"> {{card.name}}</p>
                <p class= "subtitle"> {{card.date}} {{card.time}}</p>
            </div>
        </div>   

        <div class ="divider box"> </div>

        <div class="event-inner box space">
             <div class ="event-location ">
                <img src="assets/images/icn_map-green.png" alt="">
                <p>{{card.location}}</p>
             </div>
        </div>
    </div>
  </div>
</script>

<div class="question-wrapper">
  <div class="clearfix">
    <div class="question-title">{{activeEvent.question.title}}</div>
  </div>

  <!-- buttons for the rsvp -->

  <ul class = "response-btn">
      <li>
           <a href="javascript:;" class="round green rsvp-btn" ng-class="{'active': answer.yes}" ng-click="setAnswer(1)">
              <button class= "yes-btn btn green" data-badge= "12">
                  <div class= "answer"> Yes</div>
                  <span class="round" id="round-text">Be the man to-go
                  </span>
              </button>
              </a>
      </li>

      <li>
          <a href="javascript:;" class="round yellow rsvp-btn" ng-class="{'active': answer.maybe}" ng-click="setAnswer(2)">
              <button class= "maybe-btn btn yellow"  data-badge= "4">
              <div class= "answer"> Maybe</div>
                  <span class="round" id="round-text">Don't do a Daud!
                  </span>
              </button>
          </a>
      </li>

      <li>
          <a href="javascript:;" class="round red rsvp-btn" ng-class="{'active': answer.no}" ng-click="setAnswer(3)">
              <button class= "no-btn btn red" data-badge= "2">
                 <div class= "answer"> No</div>
                  <span class="round" id="round-text">Change your mind later
                  </span>
              </button>
          </a>
      </li>
  </ul>
</div>

<div class="comment-panel btn btn-primary" ng-click="openCommentsModal('lg')">
  27 Comments
</div>

<script type="text/ng-template" id="modalNewEvent.html">
  <div class="modal-header">
      <h3 class="modal-title">New Event</h3>
  </div>
  <div class="modal-body">
      <form>
        <div class="form-group">
          <label>Name</label>
          <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Event Name">
        </div>
        <div class="form-group">
          <label>Date</label>
          <input type="date" class="form-control">
        </div>
        <div class="form-group row">
          <div class="col-sm-6">
            <label>From</label>
            <input type="time" class="form-control">
          </div>
          <div class="col-sm-6">
            <label>To</label>
            <input type="time" class="form-control">
          </div>
        </div>
        <div class="form-group">
          <label>Location</label>
          <input type="text" class="form-control" placeholder="Location">
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox"> Allow &quot;Maybe&quot; option
          </label>
        </div>
      </form>
  </div>
  <div class="modal-footer">
      <button class="btn btn-default" ng-click="cancel()">Cancel</button>
      <button class="btn btn-primary" ng-click="ok()">Submit</button>
  </div>
</script>


<script type="text/ng-template" id="modalComments.html">
  <div class="modal-header">
      <h3 class="modal-title">Comments</h3>
  </div>
  <div class="modal-body">
    
    <!-- comments section  -->

    <div class= "comments">

      <div class="event-inner space">
          <div class ="comment-date ">
              <p> Thu, Jun 18, 2015</p>
           </div>
      </div>

      <div class="comments-inner space">
              <img class= "user-profile" src="http://lorempixel.com/50/50/people/1" alt="">
              
              <div class="comment-content">
                  <p class= "title-name"> Benjamin Tan</p>
                  <p class= "subtitle-small time"> 1:48am </p>
                  <p class= "content"> Session has been called off. if you wake early and see this. go back to the pillow.</p>
              </div>
      </div>   

      <div class ="divider"> </div>

      <div class="comments-inner space">
              <img class= "user-profile" src="http://lorempixel.com/50/50/people/2" alt="">
              
              <div class="comment-content">
                  <p class= "title-name"> Junfeng Hu</p>
                  <p class= "subtitle-small time"> 6:48am </p>
                  <p class= "content">  Why??</p>
              </div>
      </div>   

      <div class ="divider"> </div>

      <div class="comments-inner space">
              <img class= "user-profile" src="http://lorempixel.com/50/50/people/3" alt="">
              
              <div class="comment-content">
                  <p class= "title-name"> Gray Ang</p>
                  <p class= "subtitle-small time"> 7:05am </p>
                  <p class= "content">  What????</p>
              </div>
      </div>   

      <div class ="divider"> </div>

     <div class="comments-inner space">
              <img class= "user-profile" src="http://lorempixel.com/50/50/people/4" alt="">
              
              <div class="comment-content">
                  <p class= "title-name">Chelsea Sim</p>
                  <p class= "subtitle-small time"> 8:05am </p>
                  <p class= "content">  Yesh. Sorry guys next week kk. :)</p>
              </div>
      </div>   

      <div class ="divider"> </div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Write a comment...">
    </div>
    <button class="btn btn-default" ng-click="cancel()">Cancel</button>
    <button class="btn btn-primary" ng-click="ok()">Submit</button>
  </div>
</script>