/**
 * Event box
 */

.box{
  width: 300px;
  text-align: left;
  background: #ffffff;
  height:auto; 
}

.event-inner{
  padding: 10px 0px;
}
.calendar{
  padding: 10px 0px 0px 0px;
}
.event-details{
  padding:0px 20px;
}
.event-name{
  font-family: Museosans;
  font-weight: 300;
  padding: 0px 20px 0 50px;
}
.event-inner .event-location{
  padding: 0px 20px 0 50px;
}

.event-location{
  font-size: 14px;
  color: rgb( 170, 170, 170 );
  font-family: Museosans;
  font-weight: 300;
  color: rgb( 127, 198, 164 );
  position:relative;
}

.event-location img{
  position:absolute;
  left:11px;
  top:5px;
  max-width:10%;  
}

.space-bot{
  padding-bottom: 5px;
}

.space-top{
  padding-top: 10px;
}

.title{
  font-size: 16px;
  color: rgb( 71, 74, 72 );
  font-weight:500;
  font-family: Museosans;
}

.subtitle{
  font-size: 14px;
  color: rgb( 170, 170, 170 );
  font-family: Museosans;
  text-transform:uppercase;
}
.subtitle-small{
  font-size: 12px;
  color: rgb( 170, 170, 170 );
  font-family: Museosans;
}
.divider{
  background: gray;
  height:1px;
}

.date{
  text-decoration: underline;
}
.time{
  color: rgb( 71, 74, 72 );
}

/**
 * Event box rsvp
 */

.event-rsvp {
  text-transform: uppercase;
  color:#ffffff;
  text-align: center;
  font-family: Museosans;
}
.yes{
  background:#7fc6a4;
}
.no{
  background:#d24949;
}
.event-rsvp.yes{
  padding:5px 0px;
}
.event-rsvp.no{
  padding:5px 0px;
}
.rsvp{
  display:block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:15px;
  text-decoration:none;
  background:rgba(127, 198, 164,0.4);
  width:100%;
  border:0px;
  padding:0px;
  text-transform: uppercase;
}

.rsvp a{
  color:#7fc6a4;
  text-decoration: none; 
  display:block;
  padding:6.5px 15px;

}
.rsvp a:hover{
  background:rgba(127, 198, 164,1);
  color:#ffffff;
}

/**
 * Carousel
 */

.carousel-wrapper {
  width: 900px;
  margin: 0 auto;

  .box {
    margin: 5px;
    width: auto;
  }
}

.slick-prev, .slick-next {
  width: 50%;
  background-color: rgba(255, 255, 255, 0.8);
  border: 5px solid transparent;
  background-clip: padding-box;
  padding: 15px;
  &:hover {
    background-color: rgba(255, 255, 255, 1);
  }
}

.slick-center .event {
  opacity: 1;
}

.event {
  opacity: 0.5;
  transition: all 300ms ease;
}

/**
 * Comment panel
 */

.comment-panel {
  background-color: @color-positive;
  position: absolute;
  bottom: 0;
  width: 80%;
  left: 10%;
  padding: 10px 20px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  color: white;
  cursor: pointer;
}